body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
